* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'suzuran';
    src: url(../static/fonts/Android\ 101.ttf);
}
.container-1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-2{
    position: relative;
    
}
    
.container-1 #homepage{
    width: 100%;
    height: auto;
}

.container-1 .header{
    position: absolute;
    left: 10px;
    top: 20px;
    color: #f2017b;
}


.container-1  #logo-twitter{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 7px;
    right: 15px;
}

.container-1 #logo-discord{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 8px;
    right: 70px;
}

.container-1 #logo-youtube{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 8px;
    right: 125px;
}

/* ----------------------------------------------------- */


.container-2{
    background: #21001d;
    max-width: 100%;
    max-height: auto;
    min-width: 100%;
    min-height:auto ;
    width: 100%;
    height: auto;
    
}

.container-2 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2 #recorder{
    padding-bottom: 10%;
    float: right;
    width: 50%;
    height: auto;
}

.text{
    padding-top: 10%;
    padding-left: 3%;
    color: #fff;
}

/* ------------------------------------------------------------------- */


.container-3{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    overflow: hidden;
    margin-top: 200px;
    background-image: inherit url(../static/images/homepage.jpg);
}

.container-3 .cards{
    padding: 70px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container-3 img{
    width: 100%;
    height: auto;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 420px;
    perspective: 1000px;
    padding: 8px;
    
  }
  /* #flip-card-1{
    position:absolute;
  }
  #flip-card-2,#flip-card-3,#flip-card-4{
    position: absolute;
  } */
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21001d;
    color: black;
    border: 3px solid #f2017b;
    border-radius: 25px;
  }

  .container-3 .flip-card .flip-card-inner .flip-card-front img{
    width: 100%;
    height: auto;
    object-fit: cover;
 } 

 .container-3 .flip-card .flip-card-inner .flip-card-front H2{
    position: absolute;
    background: #f2017b;
    color: #21001d;
    border-radius: 10px;
    top: 75%;
    max-width: 100%;
    height: auto;
 }
  
  .flip-card-back {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
  }


  /* ------------------------------------------------- */

  .container-4{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #21001d;
    margin-top: 200px;
    
  }

  .container-4 .contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .container-4 .contents .content-1{
    width: 50%;
    height: auto;
    position: relative;
  }

  .container-4 .contents .content-1 #world-map{
    
    width: 100%;
    height: auto;
  }

  .container-4 .contents .content-1 #location-icon-1{
    position:absolute;
    left:48%;
    top:32%;
    width: 5%;
  }
  .container-4 .contents .content-1 #location-icon-2{
    position:absolute;
    left:44%;
    top:30%;
    width: 5%;
  } 
  .container-4 .contents .content-1 #location-icon-3{
    position:absolute;
    left:52%;
    top:29%;
    width: 5%;

  } 
  
  .container-4 .contents .content-1 #location-icon-4{
    position:absolute;
    left:22%;
    top:38%;
    width: 5%;
  }

  .container-4 .contents .content-1 .img-content-1 .info-1{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 50px;
    position:absolute;
    left:48%;
    top:24%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-1:hover #location-icon-1{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-1:hover .info-1{
    visibility: visible;
  }

 

  .container-4 .contents .content-1 .img-content-2 .info-2{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 50px;
    position:absolute;
    left:45%;
    top:23%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-2:hover #location-icon-2{
    visibility: hidden;
  }
  .container-4 .contents .content-1 .img-content-2:hover .info-2{
    visibility: visible;
  }

  

  .container-4 .contents .content-1 .img-content-3 .info-3{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 15px;
    position:absolute;
    left:52%;
    top:23%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }


  .container-4 .contents .content-1 .img-content-3:hover #location-icon-3{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-3:hover .info-3{
    visibility: visible;
  }

  
  .container-4 .contents .content-1 .img-content-4 .info-4{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 15px;
    position:absolute;
    left:22%;
    top:32%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-4:hover #location-icon-4{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-4:hover .info-4{
    visibility: visible;
  }
  
  

  .container-4 .contents .content-2{
    width: 50%;
    height: auto;
  }
------------------------------------------------------------------------

.container-5{
  width: 100%;
  height: auto;
  margin-top: 300px;
  margin-bottom: 100px;
}


.faq-heading{
  padding: 20px 60px;
  text-align: center;
  color: #f2017b;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
padding-bottom: 100px;
}


.hr-line{
width: 60%;
margin: auto;

}


.faq-one{
  padding-bottom: 5px;
}
.faq-two{
  padding-bottom: 5px;
}
.faq-three{
  padding-bottom: 5px;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
 
  cursor: pointer;
  padding: 15px 10px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  border-radius: 5px;
  background: #43013e;
}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 60%; 
 padding: auto;
 
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #21001d;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: #21001d;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: '\FF0B';
  /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: #21001d;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  color: #fff;
  /* Unicode character for "minus" sign (-) */
}














  


  
  
  
  
  
  
  
  
  
  

