* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'suzuran';
    src: url(../static/fonts/Android\ 101.ttf);
}

@font-face {
  font-family: 'atmospheric';
  src: url('../static/fonts/aAtmospheric.ttf');
}

.container-1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-2{
    position: relative;
    
}
    
.container-1 #homepage{
    width: 100%;
    height: auto;
}

.container-1 .header{
    position: absolute;
    left: 10px;
    top: 20px;
    color: #f2017b;
}


.container-1  #logo-twitter{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 7px;
    right: 15px;
}

.container-1 #logo-discord{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 8px;
    right: 70px;
}

.container-1 #logo-youtube{
    width: 2rem;
    height: auto;
    position: absolute;
    top: 8px;
    right: 125px;
}

/* ----------------------------------------------------- */


.container-2{
    background: #21001d;
    max-width: 100%;
    max-height: auto;
    min-width: 100%;
    min-height:auto ;
    width: 100%;
    height: auto;
    
}

.container-2 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2 #recorder{
    padding-bottom: 10%;
    float: left;
    width: 50%;
    height: auto;
}

.text{
    padding-top: 10%;
    padding-right: 3%;
    color: #fff;
}

/* ------------------------------------------------------------------- */


.container-3{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 200px;
    background-image: inherit url(../static/images/homepage.jpg);
}

.container-3 .cards{
    padding: 70px;
    padding-top: 10%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container-3 img{
    width: 100%;
    height: auto;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 420px;
    perspective: 1000px;
    padding: 10px;
    
  }
  
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21001d;
    color: black;
    border: 3px solid #f2017b;
    border-radius: 25px;
  }

  .container-3 .flip-card .flip-card-inner .flip-card-front img{
    width: 100%;
    height: auto;
    object-fit: cover;
 } 

 .container-3 .flip-card .flip-card-inner .flip-card-front H2{
    position: absolute;
    background: #f2017b;
    color: #21001d;
    border-radius: 10px;
    top: 75%;
    max-width: 100%;
    height: auto;
 }
  
  .flip-card-back {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
  }


  /* ------------------------------------------------- */

  .container-4{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #21001d;
    margin-top: 200px;
    
  }

  .container-4 .contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .container-4 .contents .content-1{
    width: 50%;
    height: auto;
    position: relative;
  }

  .container-4 .contents .content-1 #world-map{
    
    width: 100%;
    height: auto;
  }

  .container-4 .contents .content-1 #location-icon-1{
    position:absolute;
    left:48%;
    top:32%;
    width: 5%;
  }
  .container-4 .contents .content-1 #location-icon-2{
    position:absolute;
    left:44%;
    top:30%;
    width: 5%;
  } 
  .container-4 .contents .content-1 #location-icon-3{
    position:absolute;
    left:52%;
    top:29%;
    width: 5%;

  } 
  
  .container-4 .contents .content-1 #location-icon-4{
    position:absolute;
    left:22%;
    top:38%;
    width: 5%;
  }

  .container-4 .contents .content-1 .img-content-1 .info-1{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 50px;
    position:absolute;
    left:48%;
    top:24%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-1:hover #location-icon-1{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-1:hover .info-1{
    visibility: visible;
  }

 

  .container-4 .contents .content-1 .img-content-2 .info-2{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 50px;
    position:absolute;
    left:45%;
    top:23%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-2:hover #location-icon-2{
    visibility: hidden;
  }
  .container-4 .contents .content-1 .img-content-2:hover .info-2{
    visibility: visible;
  }

  

  .container-4 .contents .content-1 .img-content-3 .info-3{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 15px;
    position:absolute;
    left:52%;
    top:23%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }


  .container-4 .contents .content-1 .img-content-3:hover #location-icon-3{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-3:hover .info-3{
    visibility: visible;
  }

  
  .container-4 .contents .content-1 .img-content-4 .info-4{
    background-color: #f2017b;
    color: #21001d;
    border-radius: 15px;
    position:absolute;
    left:22%;
    top:32%;
    z-index: 1;
    visibility: hidden;  
    cursor: default;
    padding: 10px;
    width: 30%;
  }

  .container-4 .contents .content-1 .img-content-4:hover #location-icon-4{
    visibility: hidden;
  }

  .container-4 .contents .content-1 .img-content-4:hover .info-4{
    visibility: visible;
  }
  
  

  .container-4 .contents .content-2{
    width: 50%;
    height: auto;
  }
/* ------------------------------------------------------------------------ */

.container-5{
  width: 100%;
  height: auto;
  margin-top: 150px;
}


.faq-heading{
  font-family: 'atmospheric';
  padding: 20px 60px;
  text-align: center;
  color: #f2017b;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
padding-bottom: 100px;
}

.hr-line{
width: 60%;
margin: auto;

}

.faq-one{
  padding-bottom: 5px;
}
.faq-two{
  padding-bottom: 5px;
}
.faq-three{
  padding-bottom: 5px;
}

.faq-page {
  cursor: pointer;
  padding: 15px 10px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  border-radius: 5px;
  background: #43013e;
}
.faq-body{
  margin: auto;
  width: 60%; 
  padding: auto;
 
}
.active,
.faq-page:hover {
  background-color: #21001d;
}
.faq-body {
  padding: 0 18px;
  background-color: #21001d;
  display: none;
  overflow: hidden;
}
.faq-page:after {
  content: '\002B';
  /* 29e8 şifre */
  /* Unicode character for "plus" sign (+) */
  font-size: 35px;
  color: #21001d;
  float: right;
  margin-left: 5px;
  padding-right: 5px;
}
.active:after {
  content: "\2796";
  font-size: 35px;
  color: #fff;
}

/* ------------------------------------------ */

.container-6{
  position:relative;
  width: 100%;
  height: auto;
  margin-top: 200px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#fff ;
  overflow-x: hidden;
  transition: 0.5s;
}



.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  top: 15px;
  right: 35px;
  }
}

.container-6 .mindmap-cards {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
  padding-bottom: 10%;
  
}

.container-6 .mindmap-cards .card-mindmap {
  position: relative;
  width: 280px;
  height: 420px;
  padding: 8px;
  border: 3px solid #fff;
  border-radius: 25px;
  background-color: #21001d;
  
}

.container-6 .mindmap-cards .card-mindmap .card-text{
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-family: atmospheric;
  padding-top: 8%; 
  margin-bottom: 0;
}
#rarity-text{
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-family: atmospheric;
}


.container-6 #mindmap-content-1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

.container-6 #mindmap-content-1 .text-metaverse{
  width: 50%;
  padding: 2%;
  font-family: atmospheric;
}

.container-6 #mindmap-content-1 .img-metaverse-content{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-6 #mindmap-content-1  .img-metaverse{
  width: 80%;
  height: auto;
}


/* ---------------------------------------------------- */
.bg-music{
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.play-svg{
  width: 3rem;
  height: auto;
  background-color: #f2017b;
  visibility: visible;
  border-radius: 50px;

}

.pause-svg{
  width: 3rem;
  height: auto;
  background-color: #f2017b;
  visibility: hidden;
  border-radius: 50px;
}
/* ---------------------------------------------------------- */
.container-7{
  background: #21001d;
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  min-height:auto ;
  width: 100%;
  height: auto;
  
}

.container-7 .content-7{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-7 #recorder-7{
  padding-bottom: 10%;
  float: right;
  width: 50%;
  height: auto;
}

.text-7{
  padding-top: 10%;
  padding-left: 3%;
  color: #fff;
}

/* ----------------------------------------------------- */

.container-8 .content-8{

  width: 100%;
  height: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-8 .content-8 .cypher{
  width: 50%;
  height: auto;
  float: left;
}

.container-8 .content-8 .text-8{
  color: #fff;
  padding-right: 5%;
}













  


  
  
  
  
  
  
  
  
  
  

