

#wrapper {
    padding-left: 0;
    padding-right: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    

}

#sidebar-wrapper {
    
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #686B44;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}


#sidebar-wrapper {
    width: 250px;
    margin-top: 0;
    overflow: hidden;
}

#btn-home-page{
    width: 100%;
    background-color: #d3bd9e;
    color: #6b442a;
    border-color: #686B44;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    font-size: 0.6rem;
}

#btn-home-page:hover{
    background-color: #6b442a;
    color: #d3bd9e;
}

#elements{
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 30%;
    margin-left: 20%;
    
}

#wrapper #sidebar-wrapper #elements ul li{
    width: 100%;
    list-style-type: none;
}

#wrapper #sidebar-wrapper #elements ul li .logo-twitter,#wrapper #sidebar-wrapper #elements ul li .logo-discord{
    font-size: 1rem;
    padding: 4px;
}




