.container { 
position: relative;
 }

.container img {
display: block;
width: 50%;
height: auto;
left: 0;
top: 0;
}

.container .material-symbols-outlined{ 
position: absolute; 
bottom:63%;
left:29%;
width: 100%;
height: auto;
color: purple;
}